.currencyButtonContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.currencyButton {
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrowContainer {
  margin: 0 7px 0 7px;
}




